{

    "plugins": [["@babel/plugin-proposal-class-properties", { "loose": true }], ["@babel/plugin-transform-arrow-functions", { "spec": true }]],
    
      
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "current"
                }
            }
        ],
        "@babel/react"
    ]
}